<app-navbar (buttonClick)="onColorSelected($event)"></app-navbar>
<main>
  <div id="todos">
    <div class="pokemon-todos">
      <div class="pokemon" id="listaPokemon" *ngFor="let item of pokemonsShow">
        <p class="pokemon-id-back">{{'#' + item?.id?.toString()}}</p>
        <div class="pokemon-imagen">
          <img [src]="item?.sprites?.other?.['official-artwork']?.front_default" alt="">
        </div>
        <div class="pokemon-info">
          <div class="nombre-contenedor">
            <p class="pokemon-id">{{'#' + item?.id?.toString()}}</p>
            <h2 class="pokemon-nombre">{{item?.name}}</h2>
          </div>
          <div class="pokemon-tipos">
            <p class="electric tipo" *ngFor="let type of item?.types">{{type.type.name}}</p>
          </div>
          <div class="pokemon-stats">
            <p class="stat">{{item?.height}}m</p>
            <p class="stat">{{item?.weight}}kg</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
